<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap"
  rel="stylesheet"
/>
<section class="t-map">
  <object
    width="1000px"
    class="t-map__svg"
    #peruMap
    data="assets/peru-map.svg"
    type="image/svg+xml"
    (click)="changeColor"
  ></object>
  <div class="t-map__text">
    <h1><b>Restaurante <span class="remarked">Brisas</span> del Mar</b></h1>
    <h5>
      Tenemos la más amplia y variada carta de toda Lima con los mejores platos
      y bebidas que te arrepentiras si no los pruebas.
    </h5>
    <img class="t-map__img" src="assets/cliente/logo_oficial.png" alt="logo" />
  </div>
</section>
